<div class="main-container-primary h-100 w-100 align-middle bg-primary">
<div class="general-container bg-primary">

<br>

  <div class="card-body bg-primary">
 
<div class="card text-center">
  <h5 class="card-header text-white text-bold bg-primary ">sign up form</h5>
  <div class="card-body bg-primary">

<form action="/auth/signup" method="POST" id="form-container">

<div class="form-group text-white text-bold">
  <label for="email">Name</label>
  <input id="name" type="text" name="name" placeholder="Your name here"  class="form-control" >
</div>


<div class="form-group text-white text-bold">
  <label for="email">E-mail</label>
  <input id="email" type="text" name="email" placeholder="Your e-mail here" class="form-control">
  <small id="emailHelp" class="form-text text-white form-text">We'll never share your email with anyone else.</small>
</div>


 
<div class="form-group text-white text-bold">
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <small id="emailHelp" class="form-text text-white form-text">Choose your password wisely.</small>
 </div>

  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br>

  <button class="btn btn-primary btn-block btn-light btn-lg font-weight-bold">Create account</button>

</div>
</form>

</div>
  <div class="card-footer text-muted bg-primary">
   <p class="account-message text-white text-center ">
    <small>Do you already have an account?
    <a href="/auth/login" class="badge badge-secondary">Login</a></small>
  </p>
  </div>
</div>


</div>


</div>