<div class="general-container">
<ul class="h2"> Confirm the details of your date:</ul>

<li>Cinema name: {{finalOption.name}}</li>
<li>Address: {{finalOption.address}}</li>
<li>Website: {{finalOption.website}}</li>
</ul>

<br>

<a class="btn btn-danger" href="/profile-page">  SAVE MY DATE!  </a>

</div>
