<h3>What kind of date are you looking for?</h3>

<div class="container">
  <div class="row">
    <div class="col col-sm-4">
      <i class="fas fa-glass-martini-alt"></i>
    </div>
    <div class="col col-sm-4">
      2 of 3
    </div>
    <div class="col col-sm-4">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      1 of 3
    </div>
    <div class="col col-sm-4">
      2 of 3
    </div>
    <div class="col col-sm-4">
      3 of 3
    </div>
  </div>
</div>