<div class="general-container">
  <br>
<h1 class="text-center">These are the closest options for your date</h1>
<br>
<h2 class="text-center">Let us know which one is your favorite!</h2>
<br><br>
<div id="accordion">
  
 {{#each finalOptions }}

 <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{this.name}}
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
     
      <div class="card-body">

        <ul>
          
          <li>Address: {{this.address}}</li>
          <li> <a href="{{this.website}}">Go to website </a></li>
          <br>
          <a class="btn btn-primary text-center" href="/confirm-movie/{{this._id}}">My favorite Option</a>

        </ul>
       
      </div>
  </div>
       {{/each }}
      
</div>
</div>

