<div class="main-container-primary h-100 w-100 align-middle">
<div class="general-container">
    <h1 class="text-center"></h1>
    <img src="images/Brand_White_big.png" id="main-brand-index" alt="brand-white">

{{#if isNotConnected}}

<br>
    <a href="/auth/login" class="btn btn-light btn-block btn-lg font-weight-bold">Login</a>
    <br>
    <p class="text-center text-white">Don't have an account yet? <a href="/auth/signup" class="badge badge-secondary">Signup</a></p>
    <br> <br>

     {{/if}}
    {{#if isConnected}}
    <a href="/location" class="btn btn-light btn-block btn-lg font-weight-bold">Start My Date!</a>
    <br><br>
    <a href="/profile-page" class="btn btn-outline-light btn-block btn-lg font-weight-bold">PROFILE</a>

    {{/if}}

</div>

</div>