<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/searchPlace">search</a>

{{!-- <form action="/searchPlace" method="GET">
Search place by Id: <input type="button" class="form-control" name="Cafe" value="Cafe">
<button type="submit" class="btn btn-outline-danger">Search!</button>
</form> --}}