<h1>Save my Date!</h1>
<p>Welcome to Save my Date!</p>


<a href="/location">Start</a>

{{!-- <form action="/searchPlace" method="GET">
Search place by Id: <input type="button" class="form-control" name="Cafe" value="Cafe">
<button type="submit" class="btn btn-outline-danger">Search!</button>
</form> --}}