<br>
<form action="POST">
    <br>
    Where are you having dinner?<input type="search" name="location" id="location">
    <br><br>
    Tell us your date details!<input type="datetime" name="datetime" id="datetime">
    <br><br>
    <a class="btn btn-outline-dark" href="/date-type">Continue planning my date!</a>
</form>