<div class="general-container">

<h1 class="text-center">Show User location</h1>

 <div id="map" style="width:100%;height:300px"></div>
<script>
  <div id="map" style="width:100%;height:500px"></div>
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-9.154041, 38.709537],
    zoom: 12
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  }));

  navigator.geolocation.getCurrentPosition(position => {
        console.log(position.coords.latitude, position.coords.longitude)
        document.querySelector("input[name=lat]").value = lat
        document.querySelector("input[name=lng]").value = lng
        map.setCenter([-9.154041, 38.709537])
        map.setZoom(15)
        var marker = new mapboxgl.Marker({color: 'red'}) // initialize a new marker
        
        .setLngLat([lng, lat]) // Marker [lng, lat] coordinates
        .addTo(map);

</script>