
//choose primary here
$primary: #C11F43;

// Cinzento escuro: #414042
// Cinzento claro: #E6E6E6
// Vermelho: #C11F43

body {
  padding: 0;
  font: 18px 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

footer {
  background-color: $primary;
  padding: 10px;
}

main {
  flex-grow: 1;
  padding: 10px;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";




.general-container{
  margin:0 auto;
  width:100%;
  display:flex;
  justify-content: center;
  flex-flow:column;
  align-content:center;
  align-items: center;
  padding:5%;
  min-height:90vh;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-call-to-action{
  // width:30vw;
  font-size:20px;
}
#nav-logo{
  height:40px;
}
nav{
  font-size:20px;
}

.navbar-toggler{
  color:white;
}

@media (max-width: 750px) {
  .main-container-primary{
    background-color: $primary;
    padding:15%;
    margin:0;
  }

  .main-container-grey{
    background-color: #414042;
  }

  .general-container {
    // background-color: yellow;
    margin:0 auto;
    width:100%;
    padding:0;
    // background-color:yellow;
  }


  body {
    padding:0;
    font-size: 22px;
  }

.icons-type-date{
  width:100px;
}

.material-icons.md-48 { font-size: 48px; width:200px; }

}