

$primary: #C11F43;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

//choose primary here



a {
  color: #00B7FF;
}

i{
  color:$primary;
  border:3px solid $primary;
  border-radius:50px;
  padding:10%;
  margin:5%;
}

i:hover{
  background-color:$primary;
  color:white;
  cursor: pointer;
}

.general-container{
  margin:0 auto;
  width:90%;
  display:flex;
  justify-content: center;
  flex-flow:column;
  align-content:center;
  align-items: center;
  padding:5%;
  min-height:90vh;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-call-to-action{
  // width:30vw;
  font-size:20px;
}

@media (max-width: 750px) {

  .general-container {
    // background-color: yellow;
    margin:0 auto;
    width:100%;
    margin:0 auto;
    padding:0;
    // background-color:yellow;
  }

  i{
    padding:15%;
    margin:15%;
  }
  .btn-call-to-action{
    // width:90%;
    // position: absolute;
    // bottom:8%;
  }

}