body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

//choose primary here

$primary: #AF2A1B;

a {
  color: #00B7FF;
}

i{
  color:$primary;
  border:3px solid $primary;
  border-radius:50px;
  padding:5%;
  margin:5%;
}

i:hover{
  background-color:$primary;
  color:white;
}

.general-container{
  margin:0 auto;
}


